:root {
  --color-primary: #000;
  --color-secondary: #fff ;
  --color-accent: #BCD5B8;
  --color-hover: #FFCECE;

  --font-primary: "Roboto", sans-serif;
}

html {
  font-family: var(--font-primary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
  color: var(--color-primary);
}

mark {
  background-color: var(--color-accent);
  color: var(--color-hover);
}

dt {
  font-weight: bold;
}

/* @utility Apply a green background colour to an element */
.section-green {
  background-color: var(--color-primary);
}
/* @utility Apply a pink background colour to an element */
.section-light-pink {
  background-color: var(--color-secondary);
}

a {
  color: var(--color-primary);
}
