.btn {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border-radius: 50px;
  padding: .5em 1em .5em 1em;
  text-decoration: none;
  border-color: transparent;
}

.btn:hover {
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

.btn-ghost {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: var(--color-primary);
}

.btn-ghost:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

.btn-white {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  border-color: transparent;
}

.btn-white:hover {
  color: var(--color-secondary);
  background-color: transparent;
  border-color: var(--color-secondary);
}

.nav-button {
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
}

.nav-button:hover {
  border-bottom: solid 2px var(--color-primary);
  border-radius: 0;
}
