.flag-optional {
  color: #000;
}

.quantity-form {
  background-color: var(--color-primary);
}

.ingredients h1, h3, p {
  color: var(--color-primary);
}

.select {
  border: 2px solid var(--color-primary);
  background-color: #000;
}

.select .option {
  color: var(--color-primary);
}

.is-validated input:invalid,
.is-validated input[type="checkbox"]:invalid + label::before,
.is-validated:invalid,
.is-validated [type="checkbox"]:invalid + label::before {
  border-color: #f33;
}

.error-message {
  display: none;
  background-color: #fee;
  color: var(--color-primary);
}

.error-message-highlighted {
  background-color: #c33;
  color: var(--color-primary);
}

.is-validated > .error-message:first-child,
.is-validated input:invalid + .error-message,
.is-validated input:invalid + label + .erro-message,
.is-validated:invalid + .error-message,
.is-validated:invalid + label + .error-message {
  display: block;
}
