.product-card {
  border: none;
}

.mission-card {
  text-align: center;
  background-color: var(--color-hover);
}

.white {
  background-color: var(--color-hover);
  border-radius: 4px;
  box-shadow: 1px 1px 10px;
  text-align: center;
}

.product-card img {
  width: 90%;
}
