nav li a {
  text-decoration: none;
  color: var(--color-primary);
}

li a:hover {
  padding-bottom: .2em;
  border-bottom: solid 3px var(--color-primary);
}

focus:active {
  padding-bottom: .2em;
  border-bottom: solid 3px var(--color-primary);
}

.search {
  border-color: transparent;
  border-bottom: solid 1px var(--color-primary);
}

.search-box {
  width: 13em;
}

.nav-1 {
  display: none;
}

.nav-check{
  position: absolute;
  top: -4%;
}

.nav-check:checked ~ .nav-1 {
  display: block;
}

.nav-label {
  cursor: pointer;
  width: 40px;
  display: inline-block;
}

.nav-open,
.nav-close {
  display: block;
  width: 100%;
}

.nav-close {
  display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
  display: none;
}

.nav-check:checked ~ .nav-close {
  display: block;
}
