.image-sexy {
  position: relative;
  left: -3em;
  top: 3em;
}

.image-sexy img {
  width: 30em;
}

.width-text {
  width: 30em;
}

.bg-color {
  background-color:  var(--color-hover);
}

.text-sexy {
  position: absolute;
  top: 1em;
  width: 18em;
  left: 2.6em;
}

.third-banner {
  background-image: url(/images/leafe.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--color-primary);
}

.type {
  color: var(--color-secondary);
}

.tilt {
  transform: rotate(15deg);
}

.tilt-1 {
  transform: rotate(-15deg);
}

@media only screen and (min-width: 25em) {

  .image-sexy {
    left: -3em;
    top: -6em;
  }

  .image-sexy img {
    width: 45em;
  }

  .text-sexy {
    top: 1em;
    width: 12em;
    left: 2.5em;
  }

}


@media only screen and (min-width: 30em) {

  .image-sexy {
    left: -3em;
    top: -5em;
  }

  .image-sexy img {
    width: 60em;
  }

  .text-sexy {
    top: 7em;
    width: 18em;
    left: 2.6em;
  }

}

@media only screen and (min-width: 60em) {

  .image-sexy {
    left: 3em;
  }

  .image-sexy img {
    width: 72em;
  }

  .text-sexy {
    top: 10em;
    width: 22em;
    left: 3em;
  }

}

@media only screen and (min-width: 90em) {

  .image-sexy {
    left: 3em;
  }

  .image-sexy img {
    width: 80em;
  }

  .text-sexy {
    top: 12em;
    width: 22em;
    left: 2.8em;
  }

}
